.lfr-objects__model-builder-self-edge-dropdown-item {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.react-flow__edge {
	&.selected {
		marker {
			fill: #0b5fff !important;
		}
	}

	.react-flow__connection {
		cursor: pointer;
	}

	&.react-flow__edge-rootObjectRelationshipEdge{
		&.selected {
			marker {
				fill: #2E5AAC
				!important;
			}
		}

		marker {
			fill: #2E5AAC;
		}
	}

	marker {
		fill: #80acff;
	}
}
