.lfr-object__edit-object-definition {
	.data-set .management-bar-wrapper,
	> .lfr-tooltip-scope,
	.page-header {
		position: -webkit-sticky;
		position: sticky;
		z-index: 1;
	}


	.navbar {
		position: relative !important;
	}

	.page-header {
		top: 120px;
	}
}
